#hero {
  width: 100%;
  height: 700px;
  margin-bottom: 50px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/green-leaves-ferns-leaf-background-spring-closeup-5k-1920x1080-2445.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "PoppinsRegular";
}

.title {
  font-family: "TiemposHeadlineRegular";
}

.description {
  line-height: 1.5;
}